# --- OS & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Environnement & Secrets (CRITIQUE) ---
.env
*.env
# --- Dépendances ---


backend-python/.venv/
**/.venv/
backend-python/venv/
**/venv/
node_modules/
**/node_modules/


# --- Docker & DB ---
qdrant_data/
pg_data/
*.log
*.sqlite
# On ignore le docker-compose si on veut garder ses configs privées 
# OU on utilise un docker-compose.override.yml (voir conseil plus bas)
docker-compose.override.yml

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Node.js ---
dist/
build/
npm-debug.log*

# --- Données du projet ---
uploads/
data/pdf/