services:
  # --- Qdrant : Vector DB ---
  qdrant:
    container_name: qdrant

    env_file: .env
    image: qdrant/qdrant:latest

    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  # --- PostgreSQL : DB ---
  postgres:
    container_name: postgres

    image: postgres:16
    env_file: .env
     
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped

  # --- FastAPI : RAG Engine ---
  fastapi:
    container_name: fastapi_rag
    env_file: .env

    build:
      context: ./backend-python
      dockerfile: Dockerfile
    volumes:
      - ./backend-python:/app           
      - hf_cache:/root/.cache/huggingface # Persiste les modèles téléchargés
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - qdrant
    restart: unless-stopped

  # --- Node.js : Backend / Gateway ---
  backend-node:
    container_name: node_gateway

    env_file: .env
    build: ./backend-node
    volumes:
      - ./backend-node:/app
      - /app/node_modules
    depends_on:
      - fastapi
      - postgres
    restart: unless-stopped

  minio:
    container_name: minio
    image: minio/minio
    env_file: .env
    ports:
      - "9000:9000"       # API S3
      - "9001:9001"       # Console UI
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    restart: unless-stopped

volumes:
  qdrant_data:
  pg_data:
  hf_cache:
  minio_data: