# --- Framework & Serveur ---
fastapi==0.115.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
python-dotenv==1.0.1

# --- Ingestion & PDF (Unstructured) ---
unstructured[all-docs]==0.15.0
pytesseract==0.3.10
python-magic==0.4.27
pdf2image==1.17.0
pdfminer.six==20221105
pi-heif
unstructured-inference
unstructured-pytesseract
langchain==0.1.0
langchain-core==0.1.10
langchain-community==0.0.13
langchain-openai
docling

# --- Bases de données + embeddings---
psycopg2-binary==2.9.9
qdrant-client==1.11.0
sentence-transformers
onnxruntime 
sqlalchemy

# --- IA & Embeddings ---
torch --index-url https://download.pytorch.org/whl/cpu
transformers==4.44.0
sentence-transformers==3.0.1
cohere==5.5.0
openai==1.40.0

# --- Utilitaires ---
requests==2.32.3
pydantic==2.8.2
pydantic-settings==2.4.0